@model learnpoint_2._0.Models.ClassCourses

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClassCourses</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolClass.SchoolClassId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClassCourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
