@model learnpoint_2._0.Models.ClassCourses

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClassCourses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClassCourseId" />
            <div class="form-group">
                <label asp-for="FKSchoolClassId" class="control-label"></label>
                <select asp-for="FKSchoolClassId" class="form-control" asp-items="ViewBag.FKSchoolClassId"></select>
                <span asp-validation-for="FKSchoolClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FKCourseId" class="control-label"></label>
                <select asp-for="FKCourseId" class="form-control" asp-items="ViewBag.FKCourseId"></select>
                <span asp-validation-for="FKCourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
